
# BETTER-AUTH

BETTER_AUTH_SECRET=
BETTER_AUTH_URL=

# R2
BUCKET_NAME=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET_ENDPOINT=

# CF
CLOUDFLARE_ACCOUNT_ID=

# DB
DATABASE_URL=

# DODO
DODO_PAYMENTS_API_KEY=
DODO_PAYMENTS_WEBHOOK_SECRET=

# REDIS
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

# GOOGLE
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# NOTION
NOTION_CLIENT_ID=
NOTION_CLIENT_SECRET=


# SLACK
SLACK_CLIENT_ID=
SLACK_CLIENT_SECRET=


# RESEND
RESEND_API_KEY=

# DOMAIN
TRUSTED_DOMAIN=

# CLIENT
FRONTEND_URL=

# POLAR
POLAR_ACCESS_TOKEN=

# PRO PLAN
PRO_PLAN_PRODUCT_ID=

# NOTIFICATION SENDING ADDRESS
PLANETFORM_EMAIL_NOTIFICATION_ADDRESS=

# NODE-ENV
NODE_ENV=production